{% extends 'base.html.twig' %}

{% block title %}Edit Contract{% endblock %}

{% block body %}
    <h1>Edit Contract</h1>

    {{ include('contract/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contract_index',{id:contract.user.id}) }}">back to list</a>

    {{ include('contract/_delete_form.html.twig') }}
{% endblock %}